/Debug/*.obj
/Debug/*.tlog
/Debug/*.ilk
/Debug/*.log
/Debug/*.pdb
/Debug/*.idb
/*.suo
/*.sdf
/*.opensdf
/Debug/*.lastbuildstate
/Release/*.obj
/Release/*.tlog
/onity/Debug/*.tlog
/onity/Debug/*.obj
/Release/*.log
/bin/*.pdb
/onity/Debug/*.pdb
/xui_demo/Debug/*.tlog
/onity/Debug/*.xml
*.log
*.xml
*.user
*.ilk
*.exe
*.idb
*.lastbuildstate
*.obj
*.pdb
